p {
    margin-bottom: 0 !important;
}

h2 {
    font-family: Times;
}

.entirePage {

}

/* NOTE, the margins on the left and right are auto to center the content. Can only be used if width
is > 100vw, because it can't take up the hole screen... then there is no room for margin! */
.content{
    margin: 0 auto;
    justify-content: center;
    width: 70vw;
    height: 100vh;
    display: grid;
    
    /* Creates 2x2 then puts gap */
    grid-template-columns: 1fr .3fr;
    grid-template-rows: 50px 1fr;
    gap: 10px;
    padding: 1rem;
    box-sizing: border-box; 
}

.title {
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: white;
    color: black;
    margin-bottom: auto auto;
    padding-bottom: 1rem;
}

.post{
    grid-column-start: 1;
}

.side-content {
    
}

ul {
    margin-bottom: 0 !important;
    line-height: 1rem;
}

li {
    list-style-type: disc;
    line-height: .5rem;
  }