.blogEntirePage p {
    margin-bottom: 0;
}

h2 {
    font-family: Times;
}

.BlogNav{
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 50vh;
    height: 10vh;
    margin: 0 auto;
    display: flex;
}

.logo {
    width: 10rem;
    float: left;
}

/* NOTE, the margins on the left and right are auto to center the content. Can only be used if width
is > 100vw, because it can't take up the hole screen... then there is no room for margin! */
.content{
    margin: 0 auto;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    display: grid;
    
    /* Creates 2x2 then puts gap */
    grid-template-columns: 1fr .3fr;
    grid-template-rows: 50px 1fr;
    gap: 10px;
    padding: 1rem;
    box-sizing: border-box; 
}

.wmde-markdown {
    padding-bottom: 3rem;
}

.title {
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: white;
    color: black;
    margin-bottom: auto auto;
    padding-bottom: 1rem;
}

.post{
    grid-column-start: 1;
}

.side-content {
    
}

.menu-buttons{
    position: relative;
    right:0;
}

.BlogNav ul {
    margin-bottom: 0;
    line-height: 1rem;
}

.BlogNav li {

    line-height: .5rem;
}


.BlogNav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

.BlogNav li {
    border-top-color: var(--color-primary);
    border-top-width: 1px;
    float: left;
    border-style: solid;
    border-right-width: 1px;
    border-right-color: #e4e4e4;
}

.BlogNav li a {
display: block;
color: #000;
text-align: center;
padding: 2rem 2rem;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* .BlogNav li a:hover {
background-color: #111;
} */